<content-loader [viewBox]="'0 0 940 260'" [backgroundColor]="'#f3f3f3'" [foregroundColor]="'#ecebeb'">
	<svg:rect x="0" y="0" rx="3" ry="3" width="827" height="24" />
	<svg:rect x="0" y="29" rx="3" ry="3" width="506" height="24" />
	<svg:rect x="0" y="77" rx="3" ry="3" width="590" height="16" />
	<svg:rect x="0" y="97" rx="3" ry="3" width="627" height="16" />
	<svg:rect x="0" y="123" rx="3" ry="3" width="480" height="16" />
	<svg:rect x="0" y="167" rx="3" ry="3" width="370" height="16" />
	<svg:rect x="0" y="190" rx="3" ry="3" width="687" height="16" />
	<svg:rect x="0" y="225" rx="3" ry="3" width="470" height="16" />
	<svg:rect x="0" y="245" rx="3" ry="3" width="698" height="16" />
</content-loader>
