@import '../../../main-style.scss';

.centered-content {
  display: flex;
  background: $primary;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

::ng-deep.ant-modal-body {
  padding: 1em !important;
}

::ng-deep.ant-modal-footer {
  text-align: center !important;
}

.btn {
  border: none;
  outline: none;
  line-height: 1.25 !important;
  margin-left: .25em;
}

.btn-primary {
  background: $primary;
}
.title {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.white-box {
  padding: 35px;
  background: white;
  border-radius: 5px;
  width: 350px;
  max-width: 350px;

}
.task-manager-container {
  display: flex;
  margin: 0 auto;
  min-height: 25vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: white;
    padding: 1em;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    button {
      background: $btn-primary;
      color: $white;
      border-radius: 5px;
      border: 3px solid transparent;
    }
}

.task-list-container {
  background: #f3f6f9;
    // position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    .top-bar {
        margin-bottom: 20px;
        display: flex;
        .title {
            flex-grow: 1;
            margin: 0;
        }
    }

}

.list-menu {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: .75em;
    flex-grow: 1;

    a {
      text-decoration: none;
      height: 40px;
      background: #F1FAFF;
      // border: 1px solid #ccc;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
    }

    .list-menu-item {
        padding: 5px;
        border-radius: 5px;
        color: $primary;
        font-weight: bold;
        width: 100%;
        margin-bottom: 5px;

        &:hover {
            background: $primary;
            color: $white;
        }

        &.is-active {
            background-color: #cff8ef;
            color: rgb(0, 100, 80) !important;
        }
    }
}

.task {
    display: flex;
    background: #fff;
    padding: .5em;
    border-radius: 5px;
    margin-top: 10px;

    align-items: center;
    box-shadow: 0 3px 2px #ccc;

    &:not(.complete) {
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;

        &:active {
            transform: scale(0.95);
        }

        &:hover {
            box-shadow: 0 0 0 5px #eeeeee;

            .task-buttons {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &.completed .task-text {
        text-decoration: line-through;
        opacity: 0.8;
    }


    .task-text {
        display: flex;
        flex-grow: 1;
    }

    .task-buttons {
        transition: opacity 0.2s, transform 0.2s;
        opacity: 1;
        transform: scale(0.85);

        i {
          font-size: 1.75em !important;
        }
    }
}

i.ri-add-circle-line {
    font-size: 2.5em;
    color: $primary;

    &:hover {
      cursor: pointer;
    }
}

.empty-state-text {
    font-size: 20px;
    color: #777;
    text-align: center;
}
