@import '../../../../main-style.scss';

.btn-primary {
  color: #fff;
}

.btn-danger {
  background: $danger;
}

.task {
  display: flex;
  background: #fff;
  padding: .5em;
  border-radius: 5px;
  margin-top: 10px;

  align-items: center;
  box-shadow: 0 3px 2px #ccc;

  p.title {
    color: #3f4254;
    text-transform: none;
    font-size: 1.075em;
    letter-spacing: 0;
  }

  &:not(.complete) {
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      box-shadow: 0 0 0 5px #eeeeee;

      .task-buttons {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &.completed .task-text {
    text-decoration: line-through;
    opacity: 0.8;
  }

  .task-text {
    display: flex;
    flex-grow: 1;
  }

  .task-buttons {
    transition: opacity 0.2s, transform 0.2s;
    opacity: 1;
    transform: scale(0.85);

    .badge {
      margin-right: 1em;
    }

    i {
      font-size: 1.75em !important;
    }
  }
}

i.ri-add-circle-line {
  font-size: 2.5em;
  color: $primary;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  border: none;
  outline: none;
  line-height: 1.25 !important;
  margin-left: .25em;
}

.btn-primary {
  background: $primary;
}
